body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.carousel {
  background-color: black;
  
  margin-bottom: 4rem;
}

.carousel-caption {
  color: white;
  text-shadow: 2px 2px 2px black;
 
  bottom: 3rem;
  z-index: 10;
}


.carousel-item {
  background-attachment: scroll;
  background-position: top;
  
  background-image: url(../imobiliaria/assets/imagens/fundo.jpg);
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  
  height: 32rem;
}



.marketing .col-lg-4 {
  
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  
  
  margin: 5rem 0;
  
}


.featurette-heading {
  
  letter-spacing: -.05rem;
}



@media (min-width: 40em) {
  
  
  .carousel-caption p {
    
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    
    
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  
  
  .featurette-heading {
    
    margin-top: 7rem;
  }
}
img{
  max-width: 460px;
}